In [ ]:
# Basic Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# For tesxt:
import re

# For times:
import time

# Set a random seed for imputation
#  Source:  https://numpy.org/doc/stable/reference/random/generated/numpy.random.seed.html
np.random.seed(42)

# Sklearn
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.feature_extraction.text import CountVectorizer

# Read-in Data

In [ ]:
# Import the Training Data
lstn = pd.read_csv('../data/listings_train.csv')

# Drop Un-needed Columns

In [ ]:
lstn.drop(columns = [
    'listing_url', 'scrape_id', 'last_scraped', 'source',
    'picture_url', 'host_url', 'host_name', 'host_thumbnail_url', 'host_picture_url',
    'neighbourhood','neighbourhood_group_cleansed', 'minimum_minimum_nights',
    'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 
    'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated',
    'calendar_last_scraped', 'bathrooms', 'first_review', 'last_review',
    'id', 'host_id',
], inplace = True)

# For now, these columsn will also be dropped unless time allows for them to be processed:
lstn.drop(columns = [
    'host_location', 'host_neighbourhood', 'review_scores_rating', 'review_scores_accuracy',
    'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication',
    'review_scores_location', 'review_scores_value', 'license'
], inplace = True)

In [ ]:
lstn.info()

In [ ]:
lstn.columns

# Fix Datatypes

In [ ]:
# FIX PRICE:  The dolar signs must be removed from the prices and numbers converted to float values
lstn.price = lstn.price.apply(lambda x: float(x.replace('$','').replace(',','').strip()))

In [ ]:
# FIX HOST SINCE:  Convert to datetime then to epoch time in days

'''
The method used below to convert to epoch time was discovered with the help of ChatGPT.
Per the lead instructor, it is ok to use ChatGPT is a search tool provided that we provide the
question that was asked:

Question:  'in python, I want to convert a pandas datetime object to epoch time'

Additional help from:  https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html
'''

# The strings are converted to date time, then to epoch time with '.timestamp()'
# The epoch time is then divided by the product the number of hours and seconds per day
#   to get the number of days since the epoch time origin 
lstn['host_since'] = pd.to_datetime(lstn['host_since']).apply(lambda x: x.timestamp()/(3600*24))

In [ ]:
# FIX RESPONSE & ACCEPTANCE RATES:  Remove percentages

'''
Since the null values are not a very big percentage of the total data (though not a small percentage either),
the data will be imputed with the median value
'''

'''
The pcnt_floater functionwill be copied over here.  This is necessary as there are null values in these columns
which cannot be simply converted within the lambda function because there is no percentage sign.
'''

# This function will attempt to convert a string percentage value into a float
#  Source for help:  https://www.w3schools.com/python/python_try_except.asp
def pcnt_floater(x):
    try:
        return float(x.replace('%', '').strip())
    except:
        return x

# Convert percentages where they can be converted
lstn.host_acceptance_rate = lstn.host_acceptance_rate.apply(lambda x: pcnt_floater(x))
lstn.host_response_rate = lstn.host_response_rate.apply(lambda x: pcnt_floater(x))

# Impute Missing Data

In [ ]:
# Impute missing text information with 'no_text_entered' into the following columns
nte_cols = ['description', 'neighborhood_overview','host_about', 'host_response_time']

for col in nte_cols:
    lstn[col].fillna('no_text_entered', inplace = True)

In [ ]:
# Impute missing data with the median in the following columns
median_cols = ['host_response_rate', 'host_acceptance_rate', 'bedrooms', 'beds']

for col in median_cols:
    lstn[col].fillna(lstn[col].median(), inplace = True)

In [ ]:
# Impute missing values with the mode in the following columns
lstn.host_is_superhost.fillna(lstn.host_is_superhost.mode()[0], inplace = True)
lstn.bathrooms_text.fillna(lstn.bathrooms_text.mode()[0], inplace = True)

In [ ]:
# Impute missing data with 0 in reviews per month
lstn.reviews_per_month.fillna(0, inplace = True)

In [ ]:
# Verify imputation
sum(lstn.isnull().sum() != 0)

# Create Simple Numerical Features

In [ ]:
# Create percentage columns for the calculated listings by listing type
lstn['pcnt_ent_homes'] = round(lstn['calculated_host_listings_count_entire_homes'] / lstn['calculated_host_listings_count'], 3)
lstn['pcnt_private'] = round(lstn['calculated_host_listings_count_private_rooms'] / lstn['calculated_host_listings_count'], 3)
lstn['pcnt_shared'] = round(lstn['calculated_host_listings_count_shared_rooms'] / lstn['calculated_host_listings_count'], 3)

## Add T-Stop Distnace Data

In [ ]:
# Note, this file has been added to the gitignore file and is NOT located in the repository
geodata = pd.read_csv('../data/lat_lng_data.csv')

latitudes = list(geodata.lat)
longitudes = list(geodata.long)

In [ ]:
# This funciton was written around the following source:
# https://towardsdatascience.com/create-new-column-based-on-other-columns-pandas-5586d87de73d

def min_dist(fn_lat, fn_lng, lat_data, lng_data):
    
    # Set a minimum distnace well beyond anything that would be derived
    min_dist = 90
    
    # Write a loop to find the minimum (euclidean) distance to every T-stop
    for n in range(len(latitudes)):
        dist = ((fn_lat - lat_data[n])**2 + (fn_lng - lng_data[n])**2)**0.5
        
        # Store this distance if smaller than min distance
        if dist < min_dist:
            min_dist = dist
    
    return min_dist

In [ ]:
# Crate a new column with the minimum distance to any T-stop
#  The following source was used to help write this code (note axis = 1 is KEY!):
    # https://towardsdatascience.com/create-new-column-based-on-other-columns-pandas-5586d87de73d
lstn['min_distance'] = lstn.apply(lambda x: min_dist(x.latitude, x.longitude, latitudes, longitudes), axis = 1)

# Create Log Features

In [ ]:
'''
The col_logger function will need to be brough in from the other notebooks

This has been modified to include a 0 imputation value n such that transforamtion
occurs on log(n) and not log(0) which is undefined.
'''

def col_logger(data_column, zero_imp = 1):
    # Since log(0) is undefined, 0's must be treated as log(1)
    return data_column.apply(lambda x: np.log(zero_imp) if x==0 else np.log(x))

In [ ]:
lstn._get_numeric_data().describe().T

In [ ]:
# Create a list of numerical columns
num_cols = list(lstn._get_numeric_data().columns)

# Remove latitiude and longitude data as they were used previously to create distances
num_cols.remove('latitude')
num_cols.remove('longitude')

In [ ]:
for col in num_cols:
    
    # Find columsn with values between 0 and 1
    if len(lstn[col][(lstn[col] < 1) & (lstn[col] > 0)]) > 0:
        
        # Determine the minimum value in that column, if it's 0, base the minimum
        #  value off of the second smallest value in the column
        
        if min(lstn[col]) < 0:
            print('CANT LOGARITHM A NEGATIVE NUMBER')
            break
        
        elif min(lstn[col]) == 0:
            # second smallest value
            min_col_val = lstn[col].sort_values().unique()[1]
        
        else:
            min_col_val = min(lstn[col][(lstn[col] < 1) & (lstn[col] > 0)])
        
        # Calculate a zero imputation value for use in the col_logger function
        #  Take the natural log of the minimum value and round down
        '''
        This last step ensures that any zero values will be less than any positive
        values after a log transformation.
        '''
        z_imp = np.exp(np.floor(np.log(min_col_val)))
        
        # Transform the column:
        lstn[f'log_{col}'] = col_logger(lstn[col], z_imp)
    
    else:
        # Otherwise, simply use defulat zero_imputation value of 1
        lstn[f'log_{col}'] = col_logger(lstn[col])

In [ ]:
lstn.info()

# One Hot Encoding

# Advanced Processing

In [ ]:
for col in lstn._get_numeric_data().columns:
    if len(lstn[col][(lstn[col] < 1) & (lstn[col] > 0)]) > 0:
        print(col)
        
        min_vally = min(lstn[col][(lstn[col] < 1) & (lstn[col] > 0)])
        print(min_vally)
        print(np.exp(np.floor(np.log(min_vally))))