In [1]:
# Basic Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# For tesxt:
import re

# For times:
import time

# Set a random seed for imputation
#  Source:  https://numpy.org/doc/stable/reference/random/generated/numpy.random.seed.html
np.random.seed(42)

# Sklearn
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import OneHotEncoder

# Read-in Data

In [2]:
# Import the Training Data
lstn = pd.read_csv('../data/listings_train.csv')

In [3]:
# Note, this file has been added to the gitignore file and is NOT located in the repository
geodata = pd.read_csv('../data/lat_lng_data.csv')

latitudes = list(geodata.lat)
longitudes = list(geodata.long)

# Drop Un-needed Columns

In [4]:
def col_dropper(data_frame):
    data_frame.drop(columns = [
        'listing_url', 'scrape_id', 'last_scraped', 'source',
        'picture_url', 'host_url', 'host_name', 'host_thumbnail_url', 'host_picture_url',
        'neighbourhood','neighbourhood_group_cleansed', 'minimum_minimum_nights',
        'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 
        'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated',
        'calendar_last_scraped', 'bathrooms', 'first_review', 'last_review',
        'id', 'host_id',
    ], inplace = True)

    # For now, these columsn will also be dropped unless time allows for them to be processed:
    data_frame.drop(columns = [
        'host_location', 'host_neighbourhood', 'review_scores_rating', 'review_scores_accuracy',
        'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication',
        'review_scores_location', 'review_scores_value', 'license'
    ], inplace = True)
    
    # No need to reutrn the dataframe as the inplace functions carry over to the input dataframe

# Fix Datatypes

In [5]:
'''
Since the null values are not a very big percentage of the total data (though not a small percentage either),
the data will be imputed with the median value.

In order to do that, the percetnages need to be convereted where possible, so that the nulls can be imputed
with the median value.

The pcnt_floater functionwill be copied over here.  This is necessary as there are null values in these columns
which cannot be simply converted within the lambda function because there is no percentage sign.
'''

# This function will attempt to convert a string percentage value into a float
#  Source for help:  https://www.w3schools.com/python/python_try_except.asp
def pcnt_floater(x):
    try:
        return float(x.replace('%', '').strip())
    except:
        return x

In [6]:
def data_fixer(data_frame):

# FIX PRICE:  The dolar signs must be removed from the prices and numbers converted to float values
    data_frame.price = data_frame.price.apply(lambda x: float(x.replace('$','').replace(',','').strip()))

    # FIX HOST SINCE:  Convert to datetime then to epoch time in days
    '''
    The method used below to convert to epoch time was discovered with the help of ChatGPT.
    Per the lead instructor, it is ok to use ChatGPT is a search tool provided that we provide the
    question that was asked:

    Question:  'in python, I want to convert a pandas datetime object to epoch time'

    Additional help from:  https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html
    '''

    # The strings are converted to date time, then to epoch time with '.timestamp()'
    # The epoch time is then divided by the product the number of hours and seconds per day
    #   to get the number of days since the epoch time origin 
    data_frame['host_since'] = pd.to_datetime(data_frame['host_since']).apply(lambda x: x.timestamp()/(3600*24))

    # FIX RESPONSE & ACCEPTANCE RATES:  Remove percentages
    # Convert percentages where they can be converted
    data_frame.host_acceptance_rate = data_frame.host_acceptance_rate.apply(lambda x: pcnt_floater(x))
    data_frame.host_response_rate = data_frame.host_response_rate.apply(lambda x: pcnt_floater(x))

# Impute Missing Data

In [7]:
def data_imputer(data_frame):
    # Impute missing text information with 'no_text_entered' into the following columns
    nte_cols = ['description', 'neighborhood_overview','host_about', 'host_response_time']

    for col in nte_cols:
        data_frame[col].fillna('no_text_entered', inplace = True)

    # Impute missing data with the median in the following columns
    median_cols = ['host_response_rate', 'host_acceptance_rate', 'bedrooms', 'beds']

    for col in median_cols:
        data_frame[col].fillna(data_frame[col].median(), inplace = True)

    # Impute missing values with the mode in the following columns
    data_frame.host_is_superhost.fillna(data_frame.host_is_superhost.mode()[0], inplace = True)
    data_frame.bathrooms_text.fillna(data_frame.bathrooms_text.mode()[0], inplace = True)

    # Impute missing data with 0 in reviews per month
    data_frame.reviews_per_month.fillna(0, inplace = True)

In [8]:
# Verify imputation
sum(lstn.isnull().sum() != 0)

27

# Create Simple Numerical Features

In [9]:
def simp_num_ft(data_frame):
    # Create percentage columns for the calculated listings by listing type
    data_frame['pcnt_ent_homes'] = round(data_frame['calculated_host_listings_count_entire_homes'] / data_frame['calculated_host_listings_count'], 3)
    data_frame['pcnt_private'] = round(data_frame['calculated_host_listings_count_private_rooms'] / data_frame['calculated_host_listings_count'], 3)
    data_frame['pcnt_shared'] = round(data_frame['calculated_host_listings_count_shared_rooms'] / data_frame['calculated_host_listings_count'], 3)

## Add T-Stop Distnace Data

In [10]:
# This funciton was written around the following source:
# https://towardsdatascience.com/create-new-column-based-on-other-columns-pandas-5586d87de73d

def min_dist(fn_lat, fn_lng, lat_data, lng_data):
    
    # Set a minimum distnace well beyond anything that would be derived
    min_dist = 90
    
    # Write a loop to find the minimum (euclidean) distance to every T-stop
    for n in range(len(latitudes)):
        dist = ((fn_lat - lat_data[n])**2 + (fn_lng - lng_data[n])**2)**0.5
        
        # Store this distance if smaller than min distance
        if dist < min_dist:
            min_dist = dist
    
    return min_dist

In [11]:
def dist_ft_adder(data_frame):
    


    # Crate a new column with the minimum distance to any T-stop
    #  The following source was used to help write this code (note axis = 1 is KEY!):
        # https://towardsdatascience.com/create-new-column-based-on-other-columns-pandas-5586d87de73d
    data_frame['min_distance'] = data_frame.apply(lambda x: min_dist(x.latitude, x.longitude, latitudes, longitudes), axis = 1)

# Create Log Features

In [12]:
lstn._get_numeric_data().describe().T

,count,mean,std,min,25%,50%,75%,max
id,3477.0,2.427734e+17,3.417200e+17,3.781000e+03,2.537403e+07,4.817395e+07,6.419742e+17,8.493358e+17
scrape_id,3477.0,2.023032e+13,8.712190e-01,2.023032e+13,2.023032e+13,2.023032e+13,2.023032e+13,2.023032e+13
host_id,3477.0,1.489579e+08,1.409145e+08,4.804000e+03,2.234822e+07,1.074344e+08,2.758496e+08,5.041795e+08
host_listings_count,3477.0,4.782657e+02,1.349140e+03,1.000000e+00,2.000000e+00,1.200000e+01,8.400000e+01,4.807000e+03
host_total_listings_count,3477.0,6.362462e+02,1.517960e+03,1.000000e+00,3.000000e+00,1.700000e+01,1.270000e+02,5.358000e+03
neighbourhood_group_cleansed,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
latitude,3477.0,4.233749e+01,2.711113e-02,4.223530e+01,4.232187e+01,4.234472e+01,4.235431e+01,4.239228e+01
longitude,3477.0,-7.108243e+01,3.339280e-02,-7.117349e+01,-7.110049e+01,-7.107316e+01,-7.106081e+01,-7.099600e+01
accommodates,3477.0,3.181478e+00,2.206180e+00,1.000000e+00,2.000000e+00,2.000000e+00,4.000000e+00,1.600000e+01
bathrooms,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bedrooms,3061.0,1.749102e+00,1.203659e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,1.300000e+01
beds,3399.0,1.794940e+00,1.438771e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.200000e+01
minimum_nights,3477.0,3.077251e+01,3.985233e+01,1.000000e+00,2.000000e+00,2.500000e+01,3.200000e+01,6.000000e+02
maximum_nights,3477.0,6.705249e+02,4.525490e+02,2.000000e+00,3.650000e+02,3.660000e+02,1.125000e+03,1.125000e+03
minimum_minimum_nights,3477.0,3.450963e+01,5.491116e+01,1.000000e+00,1.000000e+00,1.000000e+01,3.200000e+01,6.000000e+02
maximum_minimum_nights,3477.0,6.133535e+01,1.020960e+02,1.000000e+00,3.000000e+00,2.900000e+01,9.100000e+01,6.000000e+02
minimum_maximum_nights,3477.0,2.471306e+06,7.280645e+07,1.000000e+00,3.650000e+02,1.125000e+03,1.125000e+03,2.147484e+09
maximum_maximum_nights,3477.0,8.029963e+06,1.310835e+08,2.000000e+00,3.650000e+02,1.125000e+03,1.125000e+03,2.147484e+09
minimum_nights_avg_ntm,3477.0,5.949577e+01,9.954917e+01,1.000000e+00,2.100000e+00,2.740000e+01,9.100000e+01,6.000000e+02
maximum_nights_avg_ntm,3477.0,4.669350e+06,8.907709e+07,2.000000e+00,3.650000e+02,1.125000e+03,1.125000e+03,2.147484e+09
calendar_updated,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
availability_30,3477.0,1.025165e+01,1.090363e+01,0.000000e+00,0.000000e+00,7.000000e+00,1.900000e+01,3.000000e+01
availability_60,3477.0,2.482341e+01,2.191401e+01,0.000000e+00,0.000000e+00,2.300000e+01,4.500000e+01,6.000000e+01
availability_90,3477.0,4.102991e+01,3.218724e+01,0.000000e+00,7.000000e+00,4.100000e+01,7.000000e+01,9.000000e+01
availability_365,3477.0,1.994921e+02,1.302455e+02,0.000000e+00,7.900000e+01,2.200000e+02,3.220000e+02,3.650000e+02
number_of_reviews,3477.0,4.128502e+01,8.130071e+01,0.000000e+00,0.000000e+00,7.000000e+00,4.400000e+01,8.210000e+02
number_of_reviews_ltm,3477.0,1.189215e+01,2.142348e+01,0.000000e+00,0.000000e+00,1.000000e+00,1.500000e+01,2.120000e+02
number_of_reviews_l30d,3477.0,6.269773e-01,1.500593e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.200000e+01
review_scores_rating,2462.0,4.689854e+00,4.539040e-01,0.000000e+00,4.600000e+00,4.800000e+00,4.967500e+00,5.000000e+00
review_scores_accuracy,2455.0,4.750916e+00,3.860697e-01,0.000000e+00,4.690000e+00,4.860000e+00,4.990000e+00,5.000000e+00
review_scores_cleanliness,2456.0,4.727101e+00,3.855948e-01,0.000000e+00,4.630000e+00,4.840000e+00,4.990000e+00,5.000000e+00
review_scores_checkin,2455.0,4.830175e+00,3.487951e-01,0.000000e+00,4.810000e+00,4.940000e+00,5.000000e+00,5.000000e+00
review_scores_communication,2456.0,4.807272e+00,3.793015e-01,1.000000e+00,4.800000e+00,4.930000e+00,5.000000e+00,5.000000e+00
review_scores_location,2455.0,4.761043e+00,3.405746e-01,1.000000e+00,4.670000e+00,4.880000e+00,5.000000e+00,5.000000e+00
review_scores_value,2455.0,4.603703e+00,4.416080e-01,1.000000e+00,4.500000e+00,4.700000e+00,4.860000e+00,5.000000e+00
calculated_host_listings_count,3477.0,6.284699e+01,1.112281e+02,1.000000e+00,2.000000e+00,8.000000e+00,4.700000e+01,3.400000e+02
calculated_host_listings_count_entire_homes,3477.0,4.006327e+01,9.447978e+01,0.000000e+00,1.000000e+00,4.000000e+00,2.200000e+01,3.400000e+02
calculated_host_listings_count_private_rooms,3477.0,2.271901e+01,7.078624e+01,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,2.740000e+02
calculated_host_listings_count_shared_rooms,3477.0,1.840667e-02,1.686114e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00
reviews_per_month,2462.0,1.694155e+00,1.912049e+00,1.000000e-02,2.700000e-01,1.000000e+00,2.450000e+00,1.629000e+01

In [13]:
'''
The col_logger function will need to be brough in from the other notebooks

This has been modified to include a 0 imputation value n such that transforamtion
occurs on log(n) and not log(0) which is undefined.
'''

def col_logger(data_column, zero_imp = 1):
    # Since log(0) is undefined, 0's must be treated as log(1)
    return data_column.apply(lambda x: np.log(zero_imp) if x==0 else np.log(x))

In [14]:
def log_ft_maker(data_frame):
    # Create a list of numerical columns
    num_cols = list(data_frame._get_numeric_data().columns)

    # Remove latitiude and longitude data as they were used previously to create distances
    num_cols.remove('latitude')
    num_cols.remove('longitude')

    for col in num_cols:

        # Find columsn with values between 0 and 1
        if len(data_frame[col][(data_frame[col] < 1) & (data_frame[col] > 0)]) > 0:

            # Determine the minimum value in that column, if it's 0, base the minimum
            #  value off of the second smallest value in the column

            if min(data_frame[col]) < 0:
                print('CANT LOGARITHM A NEGATIVE NUMBER')
                break

            elif min(data_frame[col]) == 0:
                # second smallest value
                min_col_val = data_frame[col].sort_values().unique()[1]

            else:
                min_col_val = min(data_frame[col][(data_frame[col] < 1) & (data_frame[col] > 0)])

            # Calculate a zero imputation value for use in the col_logger function
            #  Take the natural log of the minimum value and round down
            '''
            This last step ensures that any zero values will be less than any positive
            values after a log transformation.
            '''
            z_imp = np.exp(np.floor(np.log(min_col_val)))

            # Transform the column:
            data_frame[f'log_{col}'] = col_logger(data_frame[col], z_imp)

        else:
            # Otherwise, simply use defulat zero_imputation value of 1
            data_frame[f'log_{col}'] = col_logger(data_frame[col])

In [15]:
lstn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3477 entries, 0 to 3476
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            3477 non-null   int64
 1   listing_url                                   3477 non-null   object
 2   scrape_id                                     3477 non-null   int64
 3   last_scraped                                  3477 non-null   object
 4   source                                        3477 non-null   object
 5   name                                          3477 non-null   object
 6   description                                   3464 non-null   object
 7   neighborhood_overview                         2245 non-null   object
 8   picture_url                                   3477 non-null   object
 9   host_id                                       3477 non-null   int64
 10  host_url                                      3477 non-null   object
 11  host_name                                     3477 non-null   object
 12  host_since                                    3477 non-null   object
 13  host_location                                 2683 non-null   object
 14  host_about                                    2463 non-null   object
 15  host_response_time                            3011 non-null   object
 16  host_response_rate                            3011 non-null   object
 17  host_acceptance_rate                          3067 non-null   object
 18  host_is_superhost                             3476 non-null   object
 19  host_thumbnail_url                            3477 non-null   object
 20  host_picture_url                              3477 non-null   object
 21  host_neighbourhood                            3364 non-null   object
 22  host_listings_count                           3477 non-null   int64
 23  host_total_listings_count                     3477 non-null   int64
 24  host_verifications                            3477 non-null   object
 25  host_has_profile_pic                          3477 non-null   object
 26  host_identity_verified                        3477 non-null   object
 27  neighbourhood                                 2245 non-null   object
 28  neighbourhood_cleansed                        3477 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      3477 non-null   float64
 31  longitude                                     3477 non-null   float64
 32  property_type                                 3477 non-null   object
 33  room_type                                     3477 non-null   object
 34  accommodates                                  3477 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                3476 non-null   object
 37  bedrooms                                      3061 non-null   float64
 38  beds                                          3399 non-null   float64
 39  amenities                                     3477 non-null   object
 40  price                                         3477 non-null   object
 41  minimum_nights                                3477 non-null   int64
 42  maximum_nights                                3477 non-null   int64
 43  minimum_minimum_nights                        3477 non-null   float64
 44  maximum_minimum_nights                        3477 non-null   float64
 45  minimum_maximum_nights                        3477 non-null   float64
 46  maximum_maximum_nights                        3477 non-null   float64
 47  minimum_nights_avg_ntm                        3477 non-null   float64
 48  maximum_nights_avg_ntm                        3477 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              3477 non-null   object
 51  availability_30                               3477 non-null   int64
 52  availability_60                               3477 non-null   int64
 53  availability_90                               3477 non-null   int64
 54  availability_365                              3477 non-null   int64
 55  calendar_last_scraped                         3477 non-null   object
 56  number_of_reviews                             3477 non-null   int64
 57  number_of_reviews_ltm                         3477 non-null   int64
 58  number_of_reviews_l30d                        3477 non-null   int64
 59  first_review                                  2462 non-null   object
 60  last_review                                   2462 non-null   object
 61  review_scores_rating                          2462 non-null   float64
 62  review_scores_accuracy                        2455 non-null   float64
 63  review_scores_cleanliness                     2456 non-null   float64
 64  review_scores_checkin                         2455 non-null   float64
 65  review_scores_communication                   2456 non-null   float64
 66  review_scores_location                        2455 non-null   float64
 67  review_scores_value                           2455 non-null   float64
 68  license                                       2071 non-null   object
 69  instant_bookable                              3477 non-null   object
 70  calculated_host_listings_count                3477 non-null   int64
 71  calculated_host_listings_count_entire_homes   3477 non-null   int64
 72  calculated_host_listings_count_private_rooms  3477 non-null   int64
 73  calculated_host_listings_count_shared_rooms   3477 non-null   int64
 74  reviews_per_month                             2462 non-null   float64
dtypes: float64(21), int64(19), object(35)
memory usage: 2.0+ MB

# One Hot Encoding

In [16]:
def ohe_fn_2(data_frame, training_data):
    # Find the remaining categorical columns:
    cat_cols = list(data_frame.columns)
    num_cols = list(data_frame._get_numeric_data().columns)

    for col in num_cols:
        cat_cols.remove(col)

    # Some of these columns must be removed to be handled separately in advanced processing
    remove_cols = ['amenities', 'host_about', 'name', 'neighborhood_overview', 'description']

    for col in remove_cols:
        cat_cols.remove(col)

    # Create a new temporary dataframe with just the columns taht nee to be one hot encoded
    #  otherwise, it will try to OHE the whole thing...
    data_frame_temp = data_frame[cat_cols]
    
    # Add an if statment to fit_transform only if it's the training data:
    if training_data == True:
        # The instance of onehotencoder must be created as aglabal variable
        #  ONLY DO THIS FOR TRAINING!!!
        globals()['ohe_inst'] = OneHotEncoder(sparse_output = False, drop = 'first')
        
        # Create the ohe array from the temporary dataframe (fitted and transformed)
        ohe_array = ohe_inst.fit_transform(data_frame_temp)

    else:
        # Create the ohe array from the temporary dataframe (transformed only)
        ohe_array = ohe_inst.transform(data_frame_temp)
    
    # Make a dataframe from the array with the proper columns
    ohe_array_df = pd.DataFrame(ohe_array, columns=ohe_inst.get_feature_names_out())
    
    # Drop the original cat_col columns in the original dataframe
    data_frame.drop(columns=cat_cols, inplace=True)
    
    # Merge the OHE data into the new dataframe
    data_frame = pd.merge(left = data_frame, 
                 right = ohe_array_df, 
                 left_index=True, right_index=True, 
                 how = 'outer')
    
    # Return the dataframe
    return data_frame

# Advanced Processing

## Amenities

In [17]:
# Prior to merging, add a prefix to the column names since it is text data and words tokenized from
#  one column could overwrite with those of another.

# Make a function to do this for all dataframes.

def col_renamer(df, prefix):
    new_names = [f'{prefix}_{col}' for col in df.columns]
    df.columns = new_names

In [18]:
def amentiy_count_maker(data_frame):
    # Use a regular expression to extract the amenities which are between quotes.
    #  Code adapted from this source: https://stackoverflow.com/questions/1454913/regular-expression-to-find-a-string-included-between-two-characters-while-exclud
    # Also helpful:  https://regex101.com/
    regex_string = '(?<=")[^"]+(?="[,\]])'
    
    # Using regex as before, find the number of amenities for every listing and store to a new column
    data_frame['amen_cnt'] = data_frame.amenities.apply(lambda x: len(re.findall(regex_string, x)))

    # Create a log transformed column, setting the zero imputation value to e^-1
    data_frame['log_amen_cnt'] = col_logger(data_frame['amen_cnt'], np.exp(-1))

In [19]:
def amenity_maker(data_frame, training_data):
    # Use a regular expression to extract the amenities which are between quotes.
    #  Code adapted from this source: https://stackoverflow.com/questions/1454913/regular-expression-to-find-a-string-included-between-two-characters-while-exclud
    # Also helpful:  https://regex101.com/
    regex_string = '(?<=")[^"]+(?="[,\]])'

    amn_lst = []

    for string_lists in data_frame.amenities:
        a_list = re.findall(regex_string, string_lists)
        for amenity in a_list:
            amn_lst.append(amenity)

    # Create a pandas series of all amenities and their number of occurences
    amn_counts = pd.Series(amn_lst).value_counts(ascending=False)

    # Filter the datafarme to use only words that appear in 99% of posts
    #  THIS IS REQUIRED GIVEN THAT min_df IS IGNORED BY COUNT VECTORISZER WITH CUSTOM DICTIONARIES
    #  Create a vocab variable by using the index attribute to get the list of amenities
    amn_vocab = amn_counts[amn_counts >= 35].index

    if training_data == True:
        # Use countevectorizer to one hot encode all the amenities
        #  Use the vocab to get only the amenities encoded
        #  NOTE:  Set the 'token_pattern' to the regex string so it finds the exact same tokens as were found previously
        globals()[f'cvec_amen'] = CountVectorizer(lowercase=False,
                               vocabulary=amn_vocab,
                               ngram_range=(1, 1),
                               token_pattern=regex_string,
                              )

        # Create a new dataframe with the count vectorized data from the amenities column
        amen_df = pd.DataFrame(globals()[f'cvec_amen'].fit_transform(data_frame.amenities).todense(), 
                     columns = globals()[f'cvec_amen'].get_feature_names_out())
    
    else:
        # Create a new dataframe with the count vectorized data from the amenities column
        amen_df = pd.DataFrame(globals()[f'cvec_amen'].transform(data_frame.amenities).todense(), 
                     columns = globals()[f'cvec_amen'].get_feature_names_out())
        
    # Rename the columns of amen_df
    col_renamer(amen_df, 'amen')
    
    # Merge amen_df into the lstn dataframe
    return pd.merge(left = data_frame, 
                    right = amen_df, 
                    left_index=True, right_index=True, 
                    how = 'outer')

## Count Vectorize and Add Columns for Name, Description, Neigb. Overview, and Host About

In [20]:
'''
Write a function that will:
* vectorize the columns
* create a new df for those columns
* rename those columns
* merge into lstn
* Store the count vectorizer objects so that .transform can be later 
run on testing/validation datasets
'''

def text_col_cvec(data_frame, training_data):
    
    # Provide all the columns that need to be word vectorized
    text_cols = ['name', 'description', 'host_about', 'neighborhood_overview']
    
    for col in text_cols:
        # print(f'before: {data_frame.shape}')
        
        # Create a temporary variable to establish the pandas series based on the list
        column_data = data_frame[col]
        
        # Do fit_transform only if training_data = True
        if training_data == True:
            
            # Instantiate count vectorizer
            globals()[f'cvec_{col}'] = CountVectorizer(ngram_range=(1, 4), min_df=0.01)

            # Create a new dataframe with the count vectorized data from the selected column
            cvec_df = pd.DataFrame(globals()[f'cvec_{col}'].fit_transform(column_data).todense(), 
                         columns = globals()[f'cvec_{col}'].get_feature_names_out())
            
        else:
            # Create a new dataframe with the count vectorized data from the selected column
            cvec_df = pd.DataFrame(globals()[f'cvec_{col}'].transform(column_data).todense(), 
                         columns = globals()[f'cvec_{col}'].get_feature_names_out())

        # Rename the columns
        col_renamer(cvec_df, col)
        
        # print(cvec_df.shape)

        # Merge into the main dataframe
        data_frame = pd.merge(left = data_frame, 
             right = cvec_df, 
             left_index=True, right_index=True, 
             how = 'outer')
        
        # print(f'after: {data_frame.shape} \n')
        
    return data_frame

In [21]:
def master_formatter_2(data_frame, training_data):
    print(f'start: {data_frame.shape[1]}')
    
    col_dropper(data_frame)
    print(f'col_dropper: {data_frame.shape[1]}')

    data_fixer(data_frame)
    print(f'data_fixer: {data_frame.shape[1]}')

    data_imputer(data_frame)
    print(f'data_imputer: {data_frame.shape[1]}')

    simp_num_ft(data_frame)
    print(f'simp_num_ft: {data_frame.shape[1]}')

    dist_ft_adder(data_frame)
    print(f'dist_ft_adder: {data_frame.shape[1]}')

    log_ft_maker(data_frame)
    print(f'log_ft_maker: {data_frame.shape[1]}')

    data_frame = ohe_fn_2(data_frame, training_data)
    print(f'ohe_fn: {data_frame.shape[1]}')

    amentiy_count_maker(data_frame)
    print(f'amentiy_count_maker: {data_frame.shape[1]}')

    data_frame = amenity_maker(data_frame, training_data)
    print(f'amenity_maker: {data_frame.shape[1]}')

    data_frame = text_col_cvec(data_frame, training_data)
    print(f'text_col_cvec: {data_frame.shape[1]}')
    
    return data_frame

In [22]:
# Import the Training Data
lstn = master_formatter_2(lstn, True)

start: 75
col_dropper: 41
data_fixer: 41
data_imputer: 41
simp_num_ft: 44
dist_ft_adder: 45
log_ft_maker: 72
ohe_fn: 160
amentiy_count_maker: 162
amenity_maker: 315
text_col_cvec: 12926

In [23]:
testing = pd.read_csv('../data/listings_test.csv')
testing_now = master_formatter_2(testing, False)

start: 75
col_dropper: 41
data_fixer: 41
data_imputer: 41
simp_num_ft: 44
dist_ft_adder: 45
log_ft_maker: 72
ohe_fn: 160
amentiy_count_maker: 162
amenity_maker: 315
text_col_cvec: 12926

In [25]:
testing_now.shape

(387, 12926)

In [34]:
lstn.to_csv('../data/prepped_training.csv')

In [35]:
testing.to_csv('../data/prepped_testing.csv')